<script src="https://checkoutshopper-live.adyen.com/checkoutshopper/sdk/4.5.0/adyen.js"
        integrity="sha384-Co94gRjtPsf3110lIIB8CaogV5Khwg8lcSh4fK5r1gzfWZHxaqpBXwEFjaFGcLaj"
        crossorigin="anonymous"></script>

<link rel="stylesheet"
      href="https://checkoutshopper-live.adyen.com/checkoutshopper/sdk/4.5.0/adyen.css"
      integrity="sha384-8EGo5meqBqlQ4MFf3nbQYD/onCuTfclYfNl3a5uQ1swwv0XXcTkda75dvjlYbZI8"
      crossorigin="anonymous">

<style>
    body #dropin-container .adyen-checkout__threeds2__challenge,
    body #dropin-container .adyen-checkout__threeds2__challenge iframe
    {
        width: 100%;
    }
</style>

<div
    id="dropin-container"
    data-client-key=""
></div>

<script>
    const checkout = new AdyenCheckout({
        paymentMethodsResponse: {{ adyen_payment_methods(order)|json_encode|raw }},
        paymentMethodsConfiguration: {
            card: {
                hasHolderName: true,
                holderNameRequired: true,
                enableStoreDetails: true,
                data: {
                    holderName: '{{ order.billingAddress.firstName }} {{ order.billingAddress.lastName }}'
                }
            }
        },
        clientKey: "{{ payment_configuration['clientKey'] }}", // Web Drop-in versions before 3.10.1 use originKey instead of clientKey.
        locale: "{{ order.localeCode }}",
        environment: "{{ payment_configuration['environment'] }}",
        onSubmit: (state, dropin) => {
            console.log(state, dropin);

            const options = {
                method: 'POST',
                body: JSON.stringify(state.data),
                headers: {
                    'Content-Type': 'application/json'
                }
            }

            // Global configuration for onSubmit
            // Your function calling your server to make the `/payments` request
            fetch('{{ path('bitbag_adyen_payments') }}', options)
                .then(response => response.json())
                .then(data => {

                    if (data.action) {
                        // Drop-in handles the action object from the /payments response
                        dropin.handleAction(data.action);
                    } else if(data.redirect){
                        // Your function to show the final result to the shopper
                        window.location.replace(data.redirect);
                    }
                })
                .catch(error => {
                    throw Error(error);
                });
        },
        onAdditionalDetails: (state, dropin) => {
            console.log(state, dropin)

            const options = {
                method: 'POST',
                body: JSON.stringify(state.data),
                headers: {
                    'Content-Type': 'application/json'
                }
            }

            // Your function calling your server to make a `/payments/details` request
            fetch('{{ path('bitbag_adyen_payment_details') }}', options)
                .then(response => response.json())
                .then(response => {
                    if (response.action) {
                        // Drop-in handles the action object from the /payments response
                        dropin.handleAction(response.action);
                    } else {
                        // Your function to show the final result to the shopper
                        window.location.replace('{{ path('sylius_shop_order_thank_you') }}')
                    }
                })
                .catch(error => {
                    throw Error(error);
                });
        },
    });

    document.addEventListener('DOMContentLoaded', (e) => {
        const dropin = checkout
            .create('dropin')
            .mount('#dropin-container');
    })
</script>