<div
    class="adyen-method item"
    {{ sylius_test_html_attribute('payment-item') }}
    data-code="{{ available_methods.vars.name }}"
>
    <div class="field">
        <div class="ui radio checkbox adyen" {{ sylius_test_html_attribute('payment-method-checkbox') }}>
            {{ form_widget(form, sylius_test_form_attribute('payment-method-select')) }}
        </div>
    </div>
    <div class="content">
        <a class="header">{{ form_label(form, null, {'label_attr': {'data-test-payment-method-label': ''}}) }}</a>

        {% if method.description is not null %}
            <div class="description">
                <p>{{ method.description }}</p>
            </div>
        {% endif %}

        {% if payment_configuration is not defined and order.tokenValue is not empty %}
            {% set payment_configuration = adyen_payment_configuration(order, available_methods.vars.name) %}
            {% include 'BitBagSyliusAdyenPlugin:Shop:_dropin.html.twig' %}
        {% else %}
            <div class="adyen-method-grid">
            {% for method in available_methods.vars.payment_methods -%}

                {% set to_render = [] %}

                {% if method.brands is defined %}
                    {% for sub_brand in method.brands %}
                        {% set to_render = to_render|merge([["https://checkoutshopper-" ~ available_methods.vars.environment ~ ".adyen.com/checkoutshopper/images/logos/medium/" ~ sub_brand ~ ".png"]]) %}
                    {% endfor %}
                {% endif %}

                {% if to_render is empty %}
                    {% set to_render = [["https://checkoutshopper-" ~ available_methods.vars.environment ~ ".adyen.com/checkoutshopper/images/logos/medium/" ~ method.type ~ ".png"]] %}
                {% endif %}

                {% for item in to_render %}
                    {% set title = item[1] is defined ? item[1] : method.name %}
                    <div class="online-payment__item online-payment__item--{{ method.type }}" title="{{ title }}">
                        <img class="online-payment__image" src="{{ item[0] }}" alt="{{ title }}">
                    </div>
                {% endfor %}
            {%- endfor %}
            </div>
        {% endif %}
    </div>
</div>

<script src="{{ asset('/bundles/bitbagsyliusadyenplugin/js/checkout.js') }}"></script>