<div class="item" {{ sylius_test_html_attribute('payment-item') }}>
    <div class="field">
        <div class="ui radio checkbox" {{ sylius_test_html_attribute('payment-method-checkbox') }}>
            {{ form_widget(form, sylius_test_form_attribute('payment-method-select')) }}
        </div>
    </div>
    <div class="content">
        <a class="header">{{ form_label(form, null, {'label_attr': {'data-test-payment-method-label': ''}}) }}</a>

        {% if method.description is not null %}
            <div class="description">
                <p>{{ method.description }}</p>
            </div>
        {% endif %}

        {% for keyChoice, choice in available_methods.vars.choices %}
            <div class="online-payment__item online-payment__item--{{ choice.value }}">
                <button type="submit" title="{{ choice.data }}">
                    <img class="online-payment__image" src="{{
                        "https://checkoutshopper-" ~ available_methods.vars.environment ~ ".adyen.com/checkoutshopper/images/logos/medium/" ~ choice.label ~ ".png"
                    }}">
                </button>
            </div>
        {% endfor %}
    </div>
</div>
